---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Proyects from '../components/Proyects.astro';
import Skills from '../components/Skills.astro';

---

<Layout title="Porfolio Miguel Mateos | Desarrollador con m치s de 3 a침os de experiencia" 
        description="Portfolio Miguel Mateos donde muestro mis proyectos y habilidades como desarrollador con m치s de 3 a침os de experiencia en el mundo IT">
    <NavBar />
    <Header id="header"/>

    <main>
        <About id="about"/>
        <Experience id="experience"/>
        <Proyects id="proyects"/>
        <Skills id="skills"/>
    </main>
    
</Layout>

