---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';

---

<Layout title="Porfolio Miguel Mateos | Desarrollador con m치s de 3 a침os de experiencia" 
        description="Portfolio Miguel Mateos donde muestro mis proyectos y habilidades como desarrollador con m치s de 3 a침os de experiencia en el mundo IT">
    <NavBar />
    <About />
    <main>
        
    </main>
</Layout>


