---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';

---

<Layout title="Porfolio Miguel Mateos | Desarrollador con m치s de 3 a침os de experiencia" 
        description="Portfolio Miguel Mateos donde muestro mis proyectos y habilidades como desarrollador con m치s de 3 a침os de experiencia en el mundo IT">
    <NavBar />
    <Header />
    
    <main>
        <About id="about"/>
    </main>
    
</Layout>


<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;

    }
</style>