---
const { id } = Astro.props;
import Github from './icons/GitHub_icon.astro'
---


<section class="about" id={id}>
    <h2>sobre mí</h2>
    <p>Hola, soy Miguel Mateos, un apasionado desarrollador Front-End con más de 3 años de experiencia en la creación de sitios web dinámicos y fáciles de usar.</p>
    <article class="socials">
        <a href="https://github.com/miguelmateos" target="_blank" rel="noopener noreferrer">
            <Github class="icon" />
        </a>
    </article>

</section>


<style>
    .about {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
        padding-inline: 5rem;

    }

    .about h2 {
        font-size: var(--header-size);
        margin-bottom: 1rem;
        align-self: flex-end;
    }

    .about p {
        font-size: 1.2rem;
        max-width: 600px;
    }

</style>
    