---
const { id } = Astro.props;
import Github from './icons/GitHub_icon.astro'
import LinkedIn from './icons/LinkedIn_icon.astro'
import Mail from './icons/Mail_icon.astro'
---


<section class="about" id={id}>
    <h2>sobre mí</h2>

    <div class="about-content">
        <article class="about-text">
            <h3>Soy Miguel</h3>
            <p>un apasionado de la tecnología desde niño, lo que empezó siendo un hobby con los se fue transformando en vocación. Así que llegado el momento decidí estudiar un Grado Superior de Administración de Sistemas Informáticos en Red.</p>
            <p>Tras esto entre en a realizar las prácticas en Nttdata en un equipo de BI, pero mi pasión siempre fue el desarrollo Front-end, por lo que tras conseguir años de experiencia, empecé a aprender todo lo necesario de forma autodidacta y a desarrollar proyectos propios.</p>
        </article>
        <article class="socials">
            <a href="https://github.com/MiguelMRu" target="_blank" rel="noopener noreferrer">
                <Github class="icons" />
            </a>

            <a href="https://www.linkedin.com/in/miguel-mateos-ruiz-b04586198/" target="_blank" rel="noopener noreferrer">
                <LinkedIn class="icons" />
            </a>

            <a href="mailto:miguelmateosruiz@gmail.com">
                <Mail class="icons" />
            </a>
        </article>
    </div>

</section>


<style>
    .about {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
        padding: 2rem 5rem;
        gap: 2rem;

    }

    .about h2 {
        align-self: flex-end;
    }

    .about-content {
        display: flex;
        align-items: end;
        flex-wrap: wrap;
        justify-content: space-between;
        flex: 2;
        min-width: 90%;
        margin-inline: auto;
        margin-bottom: 2rem;
        
        
    }

    .about-text{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 50%;

        & h3 {
            font-size: 4rem;
            color: var(--text-color);
            font-style: italic;
            
        }

        & p {
        font-size: 1.6rem;
        max-width: 100%;
        text-align: justify;
        text-transform: uppercase;
    }
        

    }


    .socials {
        display: flex;
        gap: 2rem;
        align-items: center;
        color: var(--main-color);
        width: 50%;
        height: fit-content;
        justify-content: flex-end;
        padding: 0 2rem 2rem 0;


        & a {
            width: 2.5rem;
            height: auto;
            color: var(--text-color);
            transition: all 0.2s ease-in-out;
        }
        & a:hover {
            color: var(--main-color);
        }
    }

</style>
    