---
import HTML_icon from "../components/icons/Html_icon.astro";
import CSS_icon from "../components/icons/Css_icon.astro";
import JS_icon from "../components/icons/Js_icon.astro";
import React_icon from "../components/icons/React_icon.astro";
import Astro_icon from "../components/icons/Astro.astro";
import Git_Icons from "../components/icons/Git_icon.astro";
import Tailwind_icon from "../components/icons/Tailwind_Icon.astro";
import Msql_Icon from "../components/icons/Msql_Icon.astro";
import Postgre_Icon from "../components/icons/Postgre_Icon.astro";
import MySQL_Icon from "../components/icons/MySQL_Icon.astro";
const {id} = Astro.props;

---


<section id={id} class="skills">
    <h2>habilidades</h2>
    <div class="skills-content">
        <article class="skill-article front">
            <h3>Frontend</h3>
            <ul>
                <li>
                    <HTML_icon /> 
                </li>
                <li>
                    <CSS_icon />
                </li>
                <li>
                    <JS_icon />
                </li>
                <li>
                    <React_icon />
                </li>
                <li><Astro_icon />
                </li>
                <li><Tailwind_icon /></li>
                <li><Git_Icons /></li>
            </ul>
        </article>
        <article class="skill-article back">
            <h3>Backend</h3>
            <ul>
                <li><Msql_Icon /></li>
                <li><Postgre_Icon /></li>
                <li><MySQL_Icon /></li>
            </ul>
        </article>
        <article class="skill-article soft">
            <h3>Soft-Skills</h3>
            <ul>
                <li>Trabajo en equipo</li>
                <li>Comunicación</li>
                <li>Resolución de problemas</li>
                <li>Metodologías ágiles (Scrum, Kanban)</li>
                <li>Gestión del tiempo</li>
            </ul>
        </article>
    </div>
    
</section>

<style>



    .skills-content {
        display: grid;
        gap: 2rem;
        grid-template-areas: 
        "front"
        "back"
        "soft";
        justify-content: flex-end;
        width: fit-content;
        align-self: flex-end;
        justify-self: flex-end;
        height: 100%;

        @media (width <= 750px) {
            height: fit-content;
            justify-self: center;
            align-self: center;

        }      
    }

    .skill-article {
        padding: 1rem;
        border-radius: 8px;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        

        & h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
            color: var(--text-color);
        }

        & ul{
            list-style-type: none;
            display: flex;
            width: 100%;
            gap: 3rem;
            justify-content: flex-end;
            width: 100%;
            flex-wrap: wrap;
            @media (width <= 750px) {
                justify-content: space-between;
                align-items: center;
                padding: 0;

        }     
            

            & li{
                width: 50px;
                color: var(--text-color);
                transition: all .2s ease-in-out;

                &:hover{
                    transform: scale(1.2);
                    
                }



                & .skill-text{
                    text-align: center;
                    display: flex;
                    gap: .2rem;
                    flex-direction: column;
                }

            }
        }
    }

    .front{
        grid-area: front;
    }
    .back{
        grid-area: back;
    }

    .soft{
        grid-area: soft;

        & li{
            text-align: right;
            flex: 1;
            font-size: 1rem;
        }
        
    }



</style>